.search-field{
    max-width: 120vh;
}
.youtube-player {
    width: 600px;
    padding: 0;
    margin: 5px;

    iframe {
        width: 100%;
        // height: 100%;
    }
}
.search-item-img{
    cursor: pointer;
}

.media-close-btn, 
.media-close-btn:hover{
    position: absolute;
    right: 6px;
    margin-top: 0;
}